@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Brush+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.header-section {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.nav-item {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.btn {
    background: #2F5BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    height: 600px;
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-text h2 {
    font-size: 70px;
}

.hero-text h2 span {
    font-style: italic;

}

.hero-text p {
    max-width: 700px;
    line-height: 1.6;
    margin-bottom: 210px;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.speaker h2 {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 1.2px;
}

.speaker-container {
    max-width: 80%;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: 260px;
    display: block;
}

.content {
    padding: 14px;
}

.category {
    display: block;
    color: #2563eb;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.content h3 {
    font-size: 22px;
    margin-bottom: 8px;
}

.content p {
    font-size: 14px;
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.spot {
    width: 80%;
    margin: 100px auto;
}

.spot-subtitle {
    text-align: center;
    color: #6b7280;
    margin-top: 12px;
    margin-bottom: 60px;
}

.spot h2 {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: #111827;
}


.spot-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.price-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 28px;
}

.price-card.active {
    background: #0f1f33;
    color: #fff;
}

.plan {
    font-size: 13px;
    font-weight: 700;
    color: #8b8b8b;
    letter-spacing: 1px;
}

.pro {
    color: #60a5fa;
}

.price-card h3 {
    font-size: 58px;
    margin-top: 10px;
}

.price-card p {
    display: block;
    color: #8b8b8b;
    margin-top: 5px;
}

.price-card.active p {
    color: #bfc7d5;
}

.price-card hr {
    border: none;
    height: 1px;
    background: #e5e7eb;
    margin: 22px 0;
}

.price-card.active hr {
    background: #334155;
}

.price-card ul {
    list-style: none;
    margin-bottom: 30px;
}

.price-card ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 16px 0;
    font-size: 15px;
    color: #4b5563;
}

.price-card.active ul li {
    color: #d1d5db;
}

.blue-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2563eb;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.purchase-btn {
    background: #fff;
    color: #2563eb;
    border: 1px solid #2563eb;
}

.primary-btn {
    background: #3563eb;
    color: #fff;
    border: none;
}

.purchase-btn-dark {
    background: #fff;
    border: 1px solid #111827;
    color: #111827;
}

.community {
    width: 100%;
    padding: 100px 0;
    background: #fff;
}

.community-bg{
    width:95%;
    margin:auto;
    padding:90px 0;
    border-radius:32px;
    background-image:url("./assets/background.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.community-container {
    width: 82%;
    margin: auto;
    display: grid;
    grid-template-columns: 0.9fr 470px;
    align-items: center;
    gap: 100px;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    background: #EAF2FF;
    border-radius: 40px;
    color: #2563EB;
    font-size: 15px;
    font-weight: 600;
}

.community-left h2 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.15;
    color: #0F172A;
    margin-bottom: 28px;
}

.community-left h2 span {
    color: #2563EB;
}

.community-description {
    width: 500px;
    font-size: 18px;
    line-height: 1.8;
    color: #475569;
    margin-bottom: 55px;
}

.feature-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.feature{
    display:flex;
    align-items:flex-start;
    gap:14px;
    flex:1;
}

.feature div{
    flex: 1;
}


.feature-icon{
    width: 40px;
    height: 42px;
    min-width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.feature h4{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 6px;
}

.feature p{
    font-size: 14px;
    line-height: 1.6;
    color:#64748B;
}

.dev-community-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-card {
    width: 420px;
    background: #ffffff;
    padding: 45px;
    border-radius: 28px;
    box-shadow: 0 25px 60px rgba(15, 23, 42, .12);
    text-align: center;
}

.plane-icon {
    width: 90px;
    height: 90px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background: #EFF6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

.subscribe-card h3 {
    font-size: 34px;
    color: #0F172A;
    margin-bottom: 18px;
}

.card-description {
    color: #475569;
    line-height: 1.8;
    font-size: 17px;
    margin-bottom: 35px;
}

.subscribe-card input {
    width: 100%;
    height: 58px;
    padding: 0 18px;
    border: 1px solid #CBD5E1;
    border-radius: 12px;
    outline: none;
    font-size: 16px;
    margin-bottom: 18px;
    transition: .3s;
}



.join-btn {
    width: 100%;
    height: 58px;
    border: none;
    border-radius: 12px;
    background: #2563EB;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.small-text {
    margin-top: 22px;
    font-size: 14px;
    color: #64748B;
}

.community {
    overflow: hidden;
}

.community-left {
    max-width: 540px;
}

.community-left h2 {
    font-size: 72px;
    font-weight: 800;
    line-height: 0.95;
    letter-spacing: -2px;
    margin: 25px 0;
}

.community-right {
    position: relative;
}

.feature {
    margin-bottom: 28px;
}

.feature:last-child {
    margin-bottom: 0;
}

.feature-icon {

    transition: .3s;
}

.subscribe-card input {
    box-sizing: border-box;
}

